{{> layout/header}}
{{> layout/navbar }}

<div class="col-md-4">
    <div class="card shadow-sm mb-4">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{trainerProfile.name}} <!--2--><span class="badge badge-secondary"><!--3--></span></h4>
        </div>

        <div class="card-body">
            {{#trainerProfile.team}}
            <img class="card-img-top" src="" alt="Pokemon"/>
            <div><p>level :</p><span class="badge badge-secondary">{{ level }} </span></div>
            {{/trainerProfile.team}}
        </div>


    </div>
</div>
